                
                <!-- Waa Laba Is Dhinac Yaala -->
                <div class="notification-bar mb-3">
                    <div class="notification-content">
                        <span class="notification-icon"><i class="fa fa-lightbulb"></i></span>
                        {{-- <span class="notification-icon"><i class="fa fa-rocket"></i></span> --}}
                        <span class="notification-message"> 📌 Products Update! ✨ <br> Macmiil Hada Wad Update Quantity Inventary ee kuu yaala! </span>
                    </div>
                    <div class="notification-content">
                        <span class="notification-icon"><i class="fa fa-gift"></i></span>
                        <span class="notification-message"> 📌 Return Credits Update! ✨ <br> Macmiil Wan Ku Darnay <strong>Discount</strong> Return Credits! </span>
                    </div>
                    <button class="notification-close" onclick="closeNotificationBar()">&times;</button>
                </div>

                <!-- Mid Kaliya oo feature cusub ah ama Update -->
                <div class="notification-bar mb-3">
                    <div class="notification-content">
                        <span class="notification-icon"><i class="fa fa-lightbulb"></i></span>
                        {{-- <span class="notification-icon"><i class="fa fa-rocket"></i></span> --}}
                        <span class="notification-message"> 📌Exciting Update! ✨ <br> Macmiil Hada Wad Update Quantity Inventary ee kuu yaala!</span>
                        <button class="notification-close" onclick="closeNotificationBar()">&times;</button>
                    </div>
                </div>

                <!-- Kii Lacag Bixinta -->
                <div class="pay-bill-warning-bar mb-3">
                    <div class="pay-bill-warning-content">
                        <span class="warning-icon"><i class="fa fa-exclamation-circle"></i></span>
                        <span class="warning-message">⚠️ Warning: Your bill payment is overdue. Please settle it to avoid service interruptions.</span>
                        <button class="pay-now-button" target="_blank" onclick="redirectToPayment()">Pay Now</button>
                    </div>
                </div>

                <!-- Markii Cilad Jirto Ama digniinta -->
                <div class="pay-bill-warning-bar mb-3">
                    <div class="pay-bill-warning-content">
                        <span class="warning-icon"><i class="fa fa-exclamation-circle"></i></span>
                        <span class="warning-message">⚠️ Security Issue : Your Account Is Not Verified. Please Verify Your!</span>
                        <a href="" class="pay-now-button" target="_blank" >Verify Now</a>
                    </div>
                </div>


                <div class="pay-bill-warning-bar mb-3">
                    <div class="pay-bill-warning-content">
                        <span class="warning-icon"><i class="fa fa-exclamation-circle"></i></span>
                        <span class="warning-message">⚠️ Security Issue : Your Account Is Not Verified. Please Verify Your!</span>
                        <a href="" class="pay-now-button" target="_blank" >verify Now</a>
                    </div>
                </div>